clingo==5.5.*
clingo-dl==1.3.*
clingcon==5.0.*
flake8
mypy
pylint
coverage
dataclasses; python_version < '3.7'
types-dataclasses; python_version < '3.7'
--extra-index-url https://test.pypi.org/simple/
